<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name ="bigbasket.BigBasket.listeners.Listener"/>
</listeners>
  <test thread-count="3" name="Test1">
    <classes>
      <class name="bigbasket.BigBasket.SetLocationTest"/>
      <class name="bigbasket.BigBasket.FilterProductsTest"/>
      <class name="bigbasket.BigBasket.HomeTest"/>
    </classes>
  </test>  <!-- Test -->
</suite> <!-- Suite -->
